body {
    margin: 0;
    box-sizing: border-box;

    .main-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

        .top-bar {
            display: grid;
            grid-template-columns: auto 100px;

            header {
                display: flex;
                height: 80px;
               

                .header-left {
                    display: flex;
                    background-color: rgb(227,235,251);
                    align-items: center;
                    width: 350px;
                    min-width: 250px;

                    .header-logo {

                        svg {
                            height: 60px;
                            widtH: 130px;
                        }
                    }

                    .header-text {
                        font-family: poppins-extralight,poppins,sans-serif;
                        font-size: 20px;
                        font-weight: 100;
                        letter-spacing: 6px;

                        a {
                            color: rgb(66, 67, 79);
                            text-decoration: none;
                        }
                    }
                }

                .header-right {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 80px;
                    gap: 130px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: lighter;

                    .log-in {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        font-size: 17px;
                        font-weight: lighter;

                        i {
                            height: fit-content;
                            color: rgb(72, 73, 85);
                            font-size: 30px;
                        }

                        p a {
                            text-decoration: none;
                            color: rgb(72, 73, 85);

                            &:hover {
                                color: rgb(190, 187, 187);
                            }
                        }
                    }

                    .trial-button {
                        
                        button {
                            font-size: 17px;
                            padding: 10px 30px;
                            background-color: #F3A391;
                            border: 0;
                            border-radius: 20px;

                            a {
                                text-decoration: none;
                                color: rgb(72, 73, 85);
                                font-weight: lighter;
                            }
                            }

                            &:hover {
                                button {
                                    background-color: rgb(72, 73, 85);

                                    a {
                                        color: white;
                                    }
                                }

                            }
                    }

                       
                }
                
            }
            

            nav {
                background-color: #454659;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5px;

                svg {
                    width: 80px;
                    height: 40px;
                }

                .nav-bar {
                    width: 1000px;
                    height: 600px;
                    background-color: #F3A391;

                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, auto);
            gap: 100px;
            font-family: Arial, Helvetica, sans-serif;

            .intro {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 100px;
                width: 100%;
                margin-top: 1px;


                .text {
                    grid-column: 1;
                    margin-left: 100px;
                    margin-right: 50px;
                    font-family: Arial, Helvetica, sans-serif;
                    width: 400px;

                    h2 {
                        font-size: 62px;
                        color: rgb(72, 73, 85);
                        line-height: 1.2em;
                        margin-bottom: 50px;
                    }

                    p {
                        font-size: 20px;
                        color: rgb(114, 116, 131);
                        font-weight: 100;
                        
                    }

                    .trial-button2 {

                        button {
                            font-size: 17px;
                            padding: 15px 30px;
                            background-color: rgb(72, 73, 85);
                            border: 0;
                            border-radius: 25px;
                            margin-bottom: 40px;
                            margin-top: 50px;

                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: lighter;
                            }
                            }

                            &:hover {
                                button {
                                    background-color: #F3A391;

                                    a {
                                        color: rgb(72, 73, 85);
                                    }
                                }

                            }
                    }

                    .livestream {
                        display: flex;
                        height: 40px;
                        align-items: center;
                        gap: 15px;
                        
                        

                        svg {
                            width: 30px;
                        }

                        p {
                            font-size: 14px;
                            
                            a {
                                color: rgb(114, 116, 131);
                            }
                        }
                    }
                   
                }

                .images {
                    grid-column: 2;
                    position: relative;
                    background-image: url('https://static.wixstatic.com/media/c837a6_0c56032794d942e1bc681b75ff613a63~mv2.jpg/v1/fill/w_612,h_716,al_bl,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_0c56032794d942e1bc681b75ff613a63~mv2.jpg%22" alt="pink clouds" id="background1');
                    height: auto;
                    width: 100%;
                    height: 100%;
                    // background-attachment: scroll;
                    // background-position: center;
                    background-size: cover;
                 
                    svg {
                    position: absolute;
                    width: 420px;
                    height: 100%;
                    left: 150px;
                    top: 0px;
                    z-index: 1;
                    }

                    img {
                    position: absolute;
                    width: 366px;
                    height: 439px;
                    top: 100px;
                    left: 180px;
                       
                       
                       
                      

                        // img {
                        //     height: 100%;
                        //     width: 100%;
                        // }
                    }

                }

                .blue-block {
                    background-color: #E6EFFF;
                    grid-row: 2;
                    grid-column: 2;
                }
            }

            .benefits {
                background-image: url('https://static.wixstatic.com/media/84770f_55ff847055214840ba54a966ab136884~mv2.jpg/v1/fill/w_1552,h_1080,al_c,q_85,enc_auto/84770f_55ff847055214840ba54a966ab136884~mv2.jpg');
                height: 1000px;
                width: 100%;
                margin-top: -100px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .breez-experience {
                    margin-top: -50px;
                }

                h2 {
                    font-size: 62px;
                    color: rgb(72, 73, 85);
                    margin-bottom: 50px;
                    text-align: center;
                    margin-top: 80px;
                }

                p {
                    font-size: 20px;
                    margin: 0 auto;
                    width: 40%;
                    text-align: center;
                    margin-bottom: 70px;
                    color: rgb(72, 73, 85);
                    line-height: 30px;
                }

                .cards {
                    display: flex;
                    width: 100%;
                    margin-top: 100px;

                    .first {
                        flex: 0 0 33%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        img {
                            width: 300px;
                            height: 300px;
                            margin: 0 auto;
                            margin-bottom: 60px;
                        }

                        h3 {
                            font-size: 20px;
                            color: rgb(72, 73, 85);
                            width: 50%;
                            margin: 0 auto;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 17px;
                            color: rgb(114, 116, 131);
                            line-height: 22px;
                            width: 50%;
                            margin: 0 auto;
                        }
                    }

                    .second {
                        flex: 0 0 33%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        img {
                            width: 300px;
                            height: 300px;
                            margin: 0 auto;
                            margin-bottom: 60px;
                        }

                        h3 {
                            font-size: 20px;
                            color: rgb(72, 73, 85);
                            width: 50%;
                            margin: 0 auto;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 17px;
                            color: rgb(114, 116, 131);
                            line-height: 22px;
                            width: 50%;
                            margin: 0 auto;
                        }
                    }

                    .third {
                        flex: 0 0 33%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        img {
                            width: 300px;
                            height: 300px;
                            margin: 0 auto;
                            margin-bottom: 60px;
                        }

                        h3 {
                            font-size: 20px;
                            color: rgb(72, 73, 85);
                            width: 50%;
                            margin: 0 auto;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 17px;
                            color: rgb(114, 116, 131);
                            line-height: 22px;
                            width: 50%;
                            margin: 0 auto;
                        }
                    }

                }
            }

            .registration {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 750px;
                margin-top: -95px;
                z-index: 0;

                .images {
                   background-image: url('https://static.wixstatic.com/media/84770f_264c86b083454a77bbf323c98a728e1e~mv2.jpg/v1/fill/w_632,h_762,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_264c86b083454a77bbf323c98a728e1e~mv2.jpg');
                   height: 100%;
                   width: 600px;
                   position: relative;

                   svg {
                    position: absolute;
                    width: 370px;
                    height: 100%;
                    left: 100px;
                    bottom: 35px;

                   }

                   img {
                    position: absolute;
                    width: 311px;
                    height: 428px;
                    top: 130px;
                    left: 130px;
                   }
            
                }

                .text {
                    margin-left: 50px;
                    margin-right: 120px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 20px;

                    h2 {
                        font-size: 62px;
                        color: rgb(72, 73, 85);
                        line-height: 1.2em;
                        margin-bottom: 50px;
                    }

                    .subheading {
                        font-size: 20px;
                        color: rgb(106, 107, 119);
                        font-weight: 100;
                        width: 350px;
                        line-height: 25px;
                        
                    }

                    p {
                        font-size: 17px;
                        color: rgb(114, 116, 131);
                        font-weight: 100;
                        width: 370px;
                        line-height: 25px;
                        
                    }

                    .book-button {

                        button {
                            font-size: 17px;
                            padding: 15px 30px;
                            background-color: rgb(72, 73, 85);
                            border: 0;
                            border-radius: 25px;
                            margin-bottom: 40px;
                            margin-top: 30px;

                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: lighter;
                            }
                            }

                            &:hover {
                                button {
                                    background-color: #F3A391;

                                    a {
                                        color: rgb(72, 73, 85);
                                    }
                                }

                            }
                    }
                }
            }

            .plans {
                display: grid;
                grid-template-columns: 7fr 11fr;
                grid-template-rows: 650px;
                margin-top: -150px;
                z-index: 1;
                
                .text {
                    margin-top: 140px;
                    margin-left: 80px;

                    h2 {
                        font-size: 62px;
                        color: rgb(72, 73, 85);
                        line-height: 1.2em;
                    }

                    p {
                        font-size: 20px;
                        color: rgb(106, 107, 119);
                        font-weight: 100;
                        width: 300px;
                        line-height: 30px;

                        span {
                            color: #AB6353;
                        }
                    }
                }

                .plans-selection {
                    background-image: url('https://static.wixstatic.com/media/84770f_4ce383441e8f47588a403fe461def56e~mv2.jpg/v1/fill/w_828,h_695,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_4ce383441e8f47588a403fe461def56e~mv2.jpg');
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    font-family: Arial, Helvetica, sans-serif;

                    .monthly {
                        width: 275px;
                        height: 415px;
                        text-align: center;
                        background-color: #454659;
                        display: flex;
                        flex-direction: column;
                        margin-top: 50px;

                        .plan-name {
                            font-size: 20px;
                            color: white;
                            border-bottom: 1px solid white;
                            width: 70%;
                            margin: 0 auto;
                            padding: 50px 0 20px 0;
                        }

                        .offer {
                            font-size: 17px;
                            color: white;
                        }

                        .dollar-sign {
                            font-size: 20px;
                            color: #F3A391;
                            margin-right: 90px;
                            margin-top: 30px;
                            margin-bottom: 0;;
                        }

                        .price {
                            font-size: 62px;
                            color: #F3A391;
                            margin: 0;
                            font-weight: bold;
                            margin-top: -13px;

                        }

                        .see-more-button {

                            button {
                                font-size: 17px;
                                width: fit-content;
                                margin: 0 auto;
                                padding: 10px 35px;
                                background-color: transparent;
                                border: 1px solid white;
                                border-radius: 25px;
                                margin-top: 70px;

                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: lighter;
                                }
                                }

                                &:hover {
                                    button {
                                        background-color: white;

                                        a {
                                            color: #454659;
                                        }
                                    }

                                }
                        }
                    }

                    .yearly {
                        width: 275px;
                        height: 415px;
                        text-align: center;
                        background-color: #454659;
                        display: flex;
                        flex-direction: column;
                        margin-top: 50px;

                        .plan-name {
                            font-size: 20px;
                            color: white;
                            border-bottom: 1px solid white;
                            width: 70%;
                            margin: 0 auto;
                            padding: 50px 0 20px 0;
                        }

                        .offer {
                            font-size: 17px;
                            color: white;
                        }

                        .dollar-sign {
                            font-size: 20px;
                            color: #F3A391;
                            margin-right: 120px;
                            margin-top: 30px;
                            margin-bottom: 0;;
                            
                            
                        }

                        .price {
                            font-size: 62px;
                            color: #F3A391;
                            margin: 0;
                            font-weight: bold;
                            margin-top: -13px;
                        }

                        .see-more-button {

                            button {
                                font-size: 17px;
                                width: fit-content;
                                margin: 0 auto;
                                padding: 10px 35px;
                                background-color: transparent;
                                border: 1px solid white;
                                border-radius: 25px;
                                margin-top: 70px;

                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: lighter;
                                }
                                }

                                &:hover {
                                    button {
                                        background-color: white;

                                        a {
                                            color: #454659;
                                        }
                                    }

                                }
                        }
                    }
                }


            }

            .recommendations-intro {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                text-align: center;
                
                

                h2 {
                    font-size: 62px;
                    color: rgb(72, 73, 85);
                    line-height: 1.2em;
                    width: 700px;
                    margin: 0 auto;
                    margin-top: 35px;
                    margin-bottom: 40px;
                    
                   
                }

                .subheading {
                    font-size: 20px;
                    color: rgb(106, 107, 119);
                    font-weight: 100;
                    line-height: 30px;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 17px;
                    color: rgb(114, 116, 131);
                    font-weight: 100;
                    line-height: 25px;
                    width: 570px;
                    margin: 0 auto;
                }
            }

            .recommendations-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: -80px;
                gap: 70px;
               

                .balance {
                    display: grid;
                    grid-template-columns: 550px 80px 600px;
                    grid-template-rows: auto 400px auto;
                    width: auto;
                    justify-content: center;
                    
                   

                    .card {
                       
                        background-color: #E6EFFF;
                        grid-row: 2;
                        grid-column: 1 / 3;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            font-size: 36px;
                            text-decoration: none;
                            margin-bottom: 0;
                            margin-top: 40px;

                            a {
                                text-decoration: none;
                                color: #454659;
                            }
                        }

                        .info {
                            font-size: 16px;
                            color: rgb(106, 107, 119);
                            border-bottom: 1px solid #898a96;
                            padding-bottom: 30px;
                            width: 80%;
                            text-align: center;
                        }

                        .date {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                            margin-bottom: 0;
                        }

                        .price {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                        }

                        .book-button-2 {
                            width: fit-content;

                            button {
                                font-size: 16px;
                                padding: 10px 30px;
                                background-color: rgb(72, 73, 85);
                                border: 0;
                                border-radius: 25px;
                                margin-bottom: 40px;
                                margin-top: 10px;
                                
    
                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: lighter;
                                }
                            }
    
                                &:hover {
                                    button {
                                        background-color: rgb(72, 73, 85);
                                        opacity: 0.8;
    
                                        a {
                                            color: white;
                                        }
                                    }
    
                                }
                                
                         
                        }
                        
                        
                    }

                    .images {
                        grid-column: 2 / 4;
                        grid-row: 1 / 4;

                        img {
                            object-fit: cover;
                            width: 100%;
                            max-height: 100%;
                            background-color: black;

                        }
                           
                            &:hover {
                           
                                
                                opacity: 0.95;
                                
                                
                               }
                            }
                  
                }

                .relaxation {
                    display: grid;
                    grid-template-columns: 550px 80px 600px;
                    grid-template-rows: auto 400px auto;
                    width: auto;
                    justify-content: center;
                    
                   

                    .card {
                       
                        background-color: #E6EFFF;
                        grid-row: 2;
                        grid-column: 1 / 3;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            font-size: 36px;
                            text-decoration: none;
                            margin-bottom: 0;
                            margin-top: 40px;

                            a {
                                text-decoration: none;
                                color: #454659;
                            }
                        }

                        .info {
                            font-size: 16px;
                            color: rgb(106, 107, 119);
                            border-bottom: 1px solid #898a96;
                            padding-bottom: 30px;
                            width: 80%;
                            text-align: center;
                        }

                        .date {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                            margin-bottom: 0;
                        }

                        .price {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                        }

                        .book-button-2 {
                            width: fit-content;

                            button {
                                font-size: 16px;
                                padding: 10px 30px;
                                background-color: rgb(72, 73, 85);
                                border: 0;
                                border-radius: 25px;
                                margin-bottom: 40px;
                                margin-top: 10px;
                                
    
                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: lighter;
                                }
                            }
    
                                &:hover {
                                    button {
                                        background-color: rgb(72, 73, 85);
                                        opacity: 0.8;
    
                                        a {
                                            color: white;
                                        }
                                    }
    
                                }
                                
                         
                        }
                        
                        
                    }

                    .images {
                        grid-column: 2 / 4;
                        grid-row: 1 / 4;

                        img {
                            object-fit: cover;
                            width: 100%;
                            max-height: 100%;
                            background-color: black;

                        }
                           
                            &:hover {
                           
                                
                                opacity: 0.95;
                                
                                
                               }
                            }
                }

                .sleep {
                    display: grid;
                    grid-template-columns: 550px 80px 600px;
                    grid-template-rows: auto 400px auto;
                    width: auto;
                    justify-content: center;
                    
                   

                    .card {
                       
                        background-color: #E6EFFF;
                        grid-row: 2;
                        grid-column: 1 / 3;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            font-size: 36px;
                            text-decoration: none;
                            margin-bottom: 0;
                            margin-top: 40px;

                            a {
                                text-decoration: none;
                                color: #454659;
                            }
                        }

                        .info {
                            font-size: 16px;
                            color: rgb(106, 107, 119);
                            border-bottom: 1px solid #898a96;
                            padding-bottom: 30px;
                            width: 80%;
                            text-align: center;
                        }

                        .date {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                            margin-bottom: 0;
                        }

                        .price {
                            font-size: 20px;
                            color: rgb(106, 107, 119);
                            margin-top: 15px;
                        }

                        .book-button-2 {
                            width: fit-content;

                            button {
                                font-size: 16px;
                                padding: 10px 30px;
                                background-color: rgb(72, 73, 85);
                                border: 0;
                                border-radius: 25px;
                                margin-bottom: 40px;
                                margin-top: 10px;
                                
    
                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: lighter;
                                }
                            }
    
                                &:hover {
                                    button {
                                        background-color: rgb(72, 73, 85);
                                        opacity: 0.8;
    
                                        a {
                                            color: white;
                                        }
                                    }
    
                                }
                                
                         
                        }
                        
                        
                    }

                    .images {
                        grid-column: 2 / 4;
                        grid-row: 1 / 4;

                        img {
                            object-fit: cover;
                            width: 100%;
                            max-height: 100%;
                            background-color: black;

                        }
                           
                            &:hover {
                           
                                
                                opacity: 0.95;
                                
                                
                               }
                            }
                }
            }

            .approach {
                // background-image: url('https://static.wixstatic.com/media/c837a6_09821beba58b4cb4b086145b482af5b2~mv2.jpg/v1/fill/w_1440,h_998,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_09821beba58b4cb4b086145b482af5b2~mv2.jpg');
                width: 100%;
                height: 1000px;
                position: relative;
                margin-top: -25px;

                img {
                    opacity: 0.2;
                    width: 100%;
                    height: 100%;
                }

                

                .meditate {
                    z-index: 3;
                    opacity: 1;
                    position: absolute;
                    width: 300px;
                    height: 500px;
                    top: 420px;
                    left: 927px;
                }

                .block {
                    z-index: 3;
                    opacity: 1;
                    position: absolute;
                    top: 420px;
                    left: 905px;
                    width: 350px;
                    height: 500px;
                }
                
                .blue-block {
                    z-index: 2;
                    opacity: 1;
                    position: absolute;
                    background-color: #E6EFFF;
                    width: 320px;
                    height: 420px;
                    top: 460px;
                    left: 920px;
                }

                

                .citation {
                    z-index: 1;
                    opacity: 1;
                    position: absolute;
                    top: 100px;
                    left: 280px;
                    height: 617px;
                    width: 786px;
                    background-color: #F3A391;
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 60px auto auto auto;
                    color: #454659;
                    justify-items: start;
                    align-content: center;
                    padding-left: 60px;



                    .quote-start {
                        display: flex;
                        gap: 20px;

                        .quote-mark1 {
                            width: 60px;
                            grid-row: 1;
                            grid-column: 1;
                            height: 60px;
                        }

                        .box-title {
                            grid-row: 1;
                            grid-column: 1;
                            font-size: 20px;
                            height: fit-content;
                            width: fit-content;
                        }
                    }

                    .quote-content {
                        display: flex;
                        .quote {
                            grid-column: 1;
                            grid-row: 2 / 3;
                            font-size: 36px;
                            font-weight: bolder;
                            width: 600px;
                            line-height: 55px;
                        }

                        .quote-mark2 {
                            // grid-column: 1;
                            // grid-row: 2 / 3;
                            width: 60px;
                            height: 60px;
                            position: relative;
                            top: 220px;
                            right: 125px;
                            // justify-self: start;
                        }
                    }


                    .author {
                        font-size: 17px;
                    }

                    .read-more-button2 {

                        width: fit-content;

                        button {
                            font-size: 17px;
                            padding: 15px 40px;
                            background-color: rgb(72, 73, 85);
                            border: 2px solid rgb(72, 73, 85);
                            border-radius: 25px;
                            margin-bottom: 40px;
                            margin-top: 30px;

                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: lighter;
                            }
                            }

                            &:hover {
                                button {
                                    background-color: #F3A391;
                                    border: 2px solid rgb(72, 73, 85);

                                    a {
                                        color: rgb(72, 73, 85);
                                    }
                                }

                            }
                    }

                }
            }
        }
    }
}