body {
  margin: 0;
  box-sizing: border-box;
}
body .main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
body .main-container .top-bar {
  display: grid;
  grid-template-columns: auto 100px;
}
body .main-container .top-bar header {
  display: flex;
  height: 80px;
}
body .main-container .top-bar header .header-left {
  display: flex;
  background-color: rgb(227, 235, 251);
  align-items: center;
  width: 350px;
  min-width: 250px;
}
body .main-container .top-bar header .header-left .header-logo svg {
  height: 60px;
  widtH: 130px;
}
body .main-container .top-bar header .header-left .header-text {
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
}
body .main-container .top-bar header .header-left .header-text a {
  color: rgb(66, 67, 79);
  text-decoration: none;
}
body .main-container .top-bar header .header-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
  gap: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .log-in i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: rgb(72, 73, 85);
  font-size: 30px;
}
body .main-container .top-bar header .header-right .log-in p a {
  text-decoration: none;
  color: rgb(72, 73, 85);
}
body .main-container .top-bar header .header-right .log-in p a:hover {
  color: rgb(190, 187, 187);
}
body .main-container .top-bar header .header-right .trial-button button {
  font-size: 17px;
  padding: 10px 30px;
  background-color: #F3A391;
  border: 0;
  border-radius: 20px;
}
body .main-container .top-bar header .header-right .trial-button button a {
  text-decoration: none;
  color: rgb(72, 73, 85);
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .trial-button:hover button {
  background-color: rgb(72, 73, 85);
}
body .main-container .top-bar header .header-right .trial-button:hover button a {
  color: white;
}
body .main-container .top-bar nav {
  background-color: #454659;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}
body .main-container .top-bar nav svg {
  width: 80px;
  height: 40px;
}
body .main-container .top-bar nav .nav-bar {
  width: 1000px;
  height: 600px;
  background-color: #F3A391;
}
body .main-container .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  gap: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
body .main-container .content .intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
  width: 100%;
}
body .main-container .content .intro .text {
  grid-column: 1;
  margin-left: 100px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
}
body .main-container .content .intro .text h2 {
  font-size: 62px;
  color: rgb(72, 73, 85);
  line-height: 1.2em;
  margin-bottom: 50px;
}
body .main-container .content .intro .text p {
  font-size: 20px;
  color: rgb(114, 116, 131);
  font-weight: 100;
}
body .main-container .content .intro .text .trial-button2 button {
  font-size: 17px;
  padding: 15px 30px;
  background-color: rgb(72, 73, 85);
  border: 0;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-top: 50px;
}
body .main-container .content .intro .text .trial-button2 button a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
body .main-container .content .intro .text .trial-button2:hover button {
  background-color: #F3A391;
}
body .main-container .content .intro .text .trial-button2:hover button a {
  color: rgb(72, 73, 85);
}
body .main-container .content .intro .text .livestream {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 15px;
}
body .main-container .content .intro .text .livestream svg {
  width: 30px;
}
body .main-container .content .intro .text .livestream p {
  font-size: 14px;
}
body .main-container .content .intro .text .livestream p a {
  color: rgb(114, 116, 131);
}
body .main-container .content .intro .images {
  grid-column: 2;
  position: relative;
  min-width: 400px;
  height: 700px;
  width: 100%;
  margin-top: 2px;
}
body .main-container .content .intro .images .background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
body .main-container .content .intro .images .svg-frame {
  position: absolute;
  top: 70px;
  left: 90px;
  z-index: 2;
}
body .main-container .content .intro .images .foreground-image {
  position: absolute;
  top: 150px;
  left: 210px;
  z-index: 1;
  height: 350px;
  width: 300px;
}
body .main-container .content .intro .blue-block {
  background-color: #E6EFFF;
  grid-row: 2;
  grid-column: 2;
}
body .main-container .content .benefits {
  background-image: url("https://static.wixstatic.com/media/84770f_55ff847055214840ba54a966ab136884~mv2.jpg/v1/fill/w_1552,h_1080,al_c,q_85,enc_auto/84770f_55ff847055214840ba54a966ab136884~mv2.jpg");
  height: 1000px;
  width: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main-container .content .benefits .breez-experience {
  margin-top: -50px;
}
body .main-container .content .benefits h2 {
  font-size: 62px;
  color: rgb(72, 73, 85);
  margin-bottom: 50px;
  text-align: center;
  margin-top: 80px;
}
body .main-container .content .benefits p {
  font-size: 20px;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  margin-bottom: 70px;
  color: rgb(72, 73, 85);
  line-height: 30px;
}
body .main-container .content .benefits .cards {
  display: flex;
  width: 100%;
  margin-top: 100px;
}
body .main-container .content .benefits .cards .first {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .main-container .content .benefits .cards .first img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
}
body .main-container .content .benefits .cards .first h3 {
  font-size: 20px;
  color: rgb(72, 73, 85);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
body .main-container .content .benefits .cards .first p {
  font-size: 17px;
  color: rgb(114, 116, 131);
  line-height: 22px;
  width: 50%;
  margin: 0 auto;
}
body .main-container .content .benefits .cards .second {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .main-container .content .benefits .cards .second img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
}
body .main-container .content .benefits .cards .second h3 {
  font-size: 20px;
  color: rgb(72, 73, 85);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
body .main-container .content .benefits .cards .second p {
  font-size: 17px;
  color: rgb(114, 116, 131);
  line-height: 22px;
  width: 50%;
  margin: 0 auto;
}
body .main-container .content .benefits .cards .third {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .main-container .content .benefits .cards .third img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
}
body .main-container .content .benefits .cards .third h3 {
  font-size: 20px;
  color: rgb(72, 73, 85);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
body .main-container .content .benefits .cards .third p {
  font-size: 17px;
  color: rgb(114, 116, 131);
  line-height: 22px;
  width: 50%;
  margin: 0 auto;
}
body .main-container .content .registration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 750px;
  margin-top: -95px;
}
body .main-container .content .registration .images {
  background-image: url("https://static.wixstatic.com/media/84770f_264c86b083454a77bbf323c98a728e1e~mv2.jpg/v1/fill/w_632,h_762,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_264c86b083454a77bbf323c98a728e1e~mv2.jpg");
  height: 100%;
  width: 600px;
  position: relative;
}
body .main-container .content .registration .images svg {
  position: absolute;
  width: 370px;
  height: 100%;
  left: 100px;
  bottom: 35px;
}
body .main-container .content .registration .images img {
  position: absolute;
  width: 311px;
  height: 428px;
  top: 130px;
  left: 130px;
}
body .main-container .content .registration .text {
  margin-left: 50px;
  margin-right: 120px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;
}
body .main-container .content .registration .text h2 {
  font-size: 62px;
  color: rgb(72, 73, 85);
  line-height: 1.2em;
  margin-bottom: 50px;
}
body .main-container .content .registration .text .subheading {
  font-size: 20px;
  color: rgb(106, 107, 119);
  font-weight: 100;
  width: 350px;
  line-height: 25px;
}
body .main-container .content .registration .text p {
  font-size: 17px;
  color: rgb(114, 116, 131);
  font-weight: 100;
  width: 350px;
  line-height: 25px;
}
body .main-container .content .registration .text .book-button button {
  font-size: 17px;
  padding: 15px 30px;
  background-color: rgb(72, 73, 85);
  border: 0;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-top: 30px;
}
body .main-container .content .registration .text .book-button button a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
body .main-container .content .registration .text .book-button:hover button {
  background-color: #F3A391;
}
body .main-container .content .registration .text .book-button:hover button a {
  color: rgb(72, 73, 85);
}/*# sourceMappingURL=meditation-website.css.map */