body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body .main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
body .main-container .top-bar {
  display: grid;
  grid-template-columns: auto 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}
body .main-container .top-bar header {
  display: flex;
  height: 80px;
}
body .main-container .top-bar header .header-left {
  display: flex;
  background-color: rgb(227, 235, 251);
  align-items: center;
  width: 350px;
  min-width: 250px;
}
body .main-container .top-bar header .header-left .header-logo svg {
  height: 60px;
  widtH: 130px;
}
body .main-container .top-bar header .header-left .header-text {
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
}
body .main-container .top-bar header .header-left .header-text a {
  color: rgb(66, 67, 79);
  text-decoration: none;
}
body .main-container .top-bar header .header-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
  gap: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .log-in i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: rgb(72, 73, 85);
  font-size: 30px;
}
body .main-container .top-bar header .header-right .log-in p a {
  text-decoration: none;
  color: rgb(72, 73, 85);
}
body .main-container .top-bar header .header-right .log-in p a:hover {
  color: rgb(190, 187, 187);
}
body .main-container .top-bar header .header-right .trial-button button {
  font-size: 17px;
  padding: 10px 30px;
  background-color: #F3A391;
  border: 0;
  border-radius: 20px;
}
body .main-container .top-bar header .header-right .trial-button button a {
  text-decoration: none;
  color: rgb(72, 73, 85);
  font-weight: lighter;
}
body .main-container .top-bar header .header-right .trial-button:hover button {
  background-color: rgb(72, 73, 85);
}
body .main-container .top-bar header .header-right .trial-button:hover button a {
  color: white;
}
body .main-container .top-bar .nav-bar {
  background-color: #454659;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
body .main-container .top-bar .nav-bar .navMenu {
  position: fixed;
  right: -100%;
  z-index: 3;
  transition: 0.6s;
  width: 800px;
  height: 100%;
  background-color: #454659;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}
body .main-container .top-bar .nav-bar .navMenu button {
  height: 10px;
  align-self: flex-end;
  margin-right: 70px;
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}
body .main-container .top-bar .nav-bar .navMenu button a {
  color: white;
  text-decoration: none;
}
body .main-container .top-bar .nav-bar .navMenu svg {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body .main-container .top-bar .nav-bar .navMenu .home a {
  color: #F3A391;
}
body .main-container .top-bar .nav-bar .navMenu .nav-item {
  text-align: center;
}
body .main-container .top-bar .nav-bar .navMenu .nav-item a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
body .main-container .top-bar .nav-bar .navMenu .nav-item a:hover {
  color: #F3A391;
}
body .main-container .top-bar .nav-bar .navMenu .home a {
  color: #F3A391;
}
body .main-container .top-bar .nav-bar .navMenu.active {
  right: 0px;
  top: 0;
  margin-top: -20px;
  padding-bottom: 20px;
}
body .main-container .top-bar .nav-bar .navMenu.active img {
  fill: white;
}
body .main-container .top-bar .nav-bar .hamburger {
  cursor: pointer;
}
body .main-container .top-bar .nav-bar .hamburger .hamburger.active {
  opacity: 1;
}
body .main-container .top-bar .nav-bar .hamburger svg {
  width: 80px;
  height: 40px;
}
body .main-container main {
  background-color: #e9efff;
  width: 100%;
  height: 1000px;
  color: #454659;
  display: flex;
}
body .main-container main .general-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #454659;
  margin-left: 40px;
  margin-right: 40px;
}
body .main-container main .general-info h3 {
  font-size: 62px;
}
body .main-container main .general-info .subheading {
  font-size: 20px;
}
body .main-container main .general-info .info-box {
  display: flex;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 5px;
}
body .main-container main .general-info .info-box p {
  background-color: #F3A391;
  padding: 20px 15px;
}
body .main-container main .general-info button {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 0;
  background-color: #454659;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .main-container main .general-info button a {
  text-decoration: none;
  color: white;
}
body .main-container main .general-info button:hover {
  background-color: white;
  border: #454659 1px solid;
}
body .main-container main .general-info button:hover a {
  color: rgb(66, 67, 79);
}
body .main-container main .general-info .lessons-info, body .main-container main .general-info .contact-details {
  width: 90%;
  margin-top: 20px;
}
body .main-container main .general-info h4 {
  font-size: 18px;
}
body .main-container main .upcoming-sessions {
  width: 50%;
  margin-top: 20px;
}
body .main-container main .upcoming-sessions .session-box table {
  width: 90%;
  height: 75%;
  border: #454659 1px solid;
  border-collapse: collapse;
  text-align: left;
}
body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(1) td:nth-child(3), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(1) td:nth-child(4), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(1) td:nth-child(2), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(3) td:nth-child(3), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(3) td:nth-child(4), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(3) td:nth-child(2), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(5) td:nth-child(3), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(5) td:nth-child(4), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(5) td:nth-child(2), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(6) td:nth-child(3), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(6) td:nth-child(4), body .main-container main .upcoming-sessions .session-box table tbody tr:nth-child(6) td:nth-child(2) {
  border-bottom: #454659 1px solid;
}
body .main-container main .upcoming-sessions .session-box table tbody tr td:first-child {
  width: 5%;
}
body .main-container main .upcoming-sessions .session-box table tbody tr td:last-child {
  width: 5%;
}
body .main-container main .upcoming-sessions .session-box table tbody tr td:nth-child(3) {
  font-size: 14px;
  color: #757682;
  text-align: start;
  width: 35%;
  border-bottom: 1px solid black;
}
body .main-container main .upcoming-sessions .session-box table tbody tr td:nth-child(4) {
  font-size: 14px;
  color: rgb(66, 67, 79);
  text-align: start;
  padding-top: 15px;
  width: 25%;
  border-bottom: 1px solid black;
}
body .main-container main .upcoming-sessions p:hover {
  opacity: 0.7;
  cursor: pointer;
}
body .main-container main .upcoming-sessions button {
  margin-top: 20px;
  border: 0;
  background-color: #454659;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 17px;
}
body .main-container main .upcoming-sessions button a {
  text-decoration: none;
  color: white;
}
body .main-container main .upcoming-sessions button:hover {
  background-color: white;
  border: #454659 1px solid;
}
body .main-container main .upcoming-sessions button:hover a {
  color: rgb(66, 67, 79);
}
body .main-container footer .nav-contactinfo-newsletter {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: #e9f3ef;
  justify-content: space-evenly;
  text-align: left;
  font-family: poppins-extralight, poppins, sans-serif;
}
body .main-container footer .nav-contactinfo-newsletter .footer-logo {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  align-self: center;
}
body .main-container footer .nav-contactinfo-newsletter .footer-logo svg {
  height: 100px;
  widtH: 130px;
}
body .main-container footer .nav-contactinfo-newsletter .footer-logo .text {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
}
body .main-container footer .nav-contactinfo-newsletter .footer-logo .text a {
  color: rgb(66, 67, 79);
  text-decoration: none;
}
body .main-container footer .nav-contactinfo-newsletter .footer-nav {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
body .main-container footer .nav-contactinfo-newsletter .footer-nav .nav-heading {
  font-size: 17px;
  color: rgb(72, 73, 85);
  margin-bottom: 25px;
}
body .main-container footer .nav-contactinfo-newsletter .footer-nav p {
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 14px;
}
body .main-container footer .nav-contactinfo-newsletter .footer-nav p a {
  color: rgb(72, 73, 85);
  text-decoration: none;
}
body .main-container footer .nav-contactinfo-newsletter .contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
body .main-container footer .nav-contactinfo-newsletter .contact-info p {
  font-size: 17px;
  color: rgb(72, 73, 85);
  margin-bottom: 15px;
}
body .main-container footer .nav-contactinfo-newsletter .contact-info .address {
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 20px;
}
body .main-container footer .nav-contactinfo-newsletter .contact-info .ig-link {
  font-size: 14px;
  margin-bottom: 2px;
}
body .main-container footer .nav-contactinfo-newsletter .contact-info .ig-link a {
  color: rgb(72, 73, 85);
  text-decoration: none;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 200px;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .registration-heading {
  font-size: 17px;
  color: rgb(72, 73, 85);
  margin-bottom: 15px;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration p {
  font-size: 14px;
  line-height: 20px;
  color: rgb(72, 73, 85);
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration label {
  font-size: 14px;
  color: rgb(72, 73, 85);
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part {
  display: flex;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part input {
  margin-top: 20px;
  height: 36px;
  min-width: 100%;
  background-color: #eecdc9;
  border: #454659 2px solid;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part input:active {
  border: #ff0000 2px solid;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part button {
  font-size: 17px;
  padding: 7px 20px 6px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(72, 73, 85);
  border-radius: 25px;
  color: white;
  position: relative;
  right: 40px;
  top: 19px;
  border: 2px solid rgb(72, 73, 85);
  cursor: pointer;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part button a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part:hover button {
  background-color: #F3A391;
  border: 2px solid #F3A391;
}
body .main-container footer .nav-contactinfo-newsletter .newsletter-registration .input-part:hover button a {
  color: rgb(72, 73, 85);
}
body .main-container footer .copyright {
  text-align: center;
  padding: 25px 0 25px 0;
  font-size: 14px;
  color: rgb(72, 73, 85);
  background-color: #e9f3ef;
  border-top: 1px solid black;
}/*# sourceMappingURL=activity.css.map */